In [1]:
import numpy as np
import pandas as pd

Define function to convert period to yield:

In [2]:
def period_yield(period, ab):
    """
    Period-yield relation of the form log(E) = a * log10(tau) + b, where E is the energy yield in 
    kT of TNT equivalent and tau is the infrasound signal period in seconds,
    with coefficients a, b = ab fit by various methods

    param period: infrasound signal period in seconds
    param ab: tuple of coefficients a, b fit using the form above

    return E: energy yield in kT of TNT equivalent
    """
    a, b = ab  # unpack
    E = 10. ** (a * np.log10(period) + b)  # do 10^log10(E) to get E
    return E

# coefficients for the various fits listed in Gi and Brown 2017
gi_single = (3.68, -1.99)  # empirical fits derived by Gi and Brown 2017
gi_multi = (3.84, -2.21)
aftac_200 = (3.34, -2.28)  # aftac fits produced by ReVelle 1997
aftac_80 = (4.14, -3.31)
ens_single = (3.75, 3.50)  # Ens et al. 2012
ens_multi = (3.28, 3.71)

Import data:

In [3]:
gi_infrasound = pd.read_csv('infrasound/decameter_events_infrasound_gi.csv').dropna(axis=1, how='all')
ens_infrasound = pd.read_csv('infrasound/decameter_events_infrasound_ens.csv').dropna(axis=1, how='all')

In [4]:
# get columns with period and some other data, group by event and then compute average period
gi_infrasound_mean_periods = gi_infrasound[['date / location  /  time', 'Energy(kt)', 'Period 1(s)', 'Period 2(s)', 'Period @Max Amp(s)']].groupby(['date / location  /  time']).mean()
gi_infrasound_mean_periods

,Energy(kt),Period 1(s),Period 2(s),Period @Max Amp(s)
date / location / time,,,,
06-Feb-16,13.0,5.111100,4.822733,4.966933
08-Oct-09,33.0,7.086167,6.752925,6.919492
09-Dec-06,14.0,3.684633,3.320900,3.502800
15-Feb-13,440.0,36.427667,37.033800,36.730733
25-Dec-10,33.0,8.307342,8.207992,8.257726
30-Apr-13,10.0,6.439700,7.109400,6.774500

In [10]:
period_yield((gi_infrasound_mean_periods['Period @Max Amp(s)']), ens_multi)

date / location  /  time
06-Feb-16    9.843957e+05
08-Oct-09    2.920407e+06
09-Dec-06    3.130995e+05
15-Feb-13    6.971032e+08
25-Dec-10    5.215576e+06
30-Apr-13    2.724441e+06
Name: Period @Max Amp(s), dtype: float64

In [6]:
[s for s in gi_infrasound.columns.tolist() if 'Period' in s]

['Period 1(s)', 'Period 2(s)', 'Period @Max Amp(s)']